 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
}

body{
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: #1F1F1F;
    width: 700px;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
}
h1, p, a{
    color: #FFF;
}

p{
    text-align: left;
}

h1{
    text-align: center;
}

.coracao {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 600px;
}

.imagens img {
    max-width: 400px;
    width: 100%;
}

.paragrafo {
    line-height: 150%;
}